{% extends 'simple.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block head %}
<link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/login.css' %}"/>

{% if settings.COLLECT_ANALYTICS %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129877673-1"></script>
<script nonce="{{request.csp_nonce}}">
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-129877673-1');
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="login_page">
  <h1 data-locale-en="{% language 'en-us' %}{% blocktrans with version=versions.package.short_version %}Welcome to Label Studio Community Edition {{ version }}{% endblocktrans %}{% endlanguage %}"
      data-locale-zh="{% language 'zh-hans' %}{% blocktrans with version=versions.package.short_version %}Welcome to Label Studio Community Edition {{ version }}{% endblocktrans %}{% endlanguage %}">{% blocktrans with version=versions.package.short_version %}Welcome to Label Studio Community Edition {{ version }}{% endblocktrans %}</h1>
  <h2 data-locale-en="{% language 'en-us' %}{% trans 'A full-fledged open source solution for data labeling' %}{% endlanguage %}"
      data-locale-zh="{% language 'zh-hans' %}{% trans 'A full-fledged open source solution for data labeling' %}{% endlanguage %}">{% trans "A full-fledged open source solution for data labeling" %}</h2>

  <img src="{{ settings.HOSTNAME }}{% static 'images/opossum_hanging.svg' %}" height="128px" />

  <div class="toggle">
    {% if not settings.DISABLE_SIGNUP_WITHOUT_LINK %}
        <a href="{{ settings.HOSTNAME }}/user/signup" class="{% if 'signup' in request.path %}active{% endif %}"
           data-locale-en="{% language 'en-us' %}{% trans 'Sign up' %}{% endlanguage %}"
           data-locale-zh="{% language 'zh-hans' %}{% trans 'Sign up' %}{% endlanguage %}">{% trans "Sign up" %}</a>
        <a href="{{ settings.HOSTNAME }}/user/login" class="{% if 'login' in request.path %}active{% endif %}"
           data-locale-en="{% language 'en-us' %}{% trans 'Log in' %}{% endlanguage %}"
           data-locale-zh="{% language 'zh-hans' %}{% trans 'Log in' %}{% endlanguage %}">{% trans "Log in" %}</a>
    {% endif %}
  </div>

  {% include 'users/_language_selector.html' %}

  {% block user_content %}
  {% endblock %}
{% endblock %}
